nav ul {
    list-style-type: none;
    position: fixed;
    height: 100%;
    width: 25%;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    background-color: black;
    text-align: center;
    overflow: auto;

}

nav li{
    font-weight: 300;
    font-size: 1.2vw;
    letter-spacing: 1px;
    line-height: 37px;
    font-family: 'rock salt';

}

nav li a{
    display: block;
    text-decoration: none;
    color: white;

}

nav li a:hover:not(.active) {
    background-color: white;
    color: black;
  }

article{
      padding-left: 25%;
  }
header img{
    padding-left: 24%;
    width: 76%;
    height: auto;
}

h3{
    text-align: center;
    font-family: 'rock salt';
    letter-spacing: 8px;
}

p{
    font-family: 'ubuntu mono';
    font-size: 1.7vw;
    line-height: 25px;
    text-align: justify;
}